nav{
	background-color: #27AD60;
}
.pg{
	padding: 0%;
}
.pg-5{
	padding: 5%;
}
.mg{
	margin: 0%;
}
.pdg{
	padding: 3% 5%;
}
.pg-tp{
	padding-top: 1%;
}

.bg-1{
	background-image: url("../img/carousel-bg.jpg"); 
	background-repeat: no-repeat;
	background-size: 100% 300px;
}
#cl-1{
	background-color:#69D2E7; 
	height: 100px;
	margin-left: 35%;
}
#cl-2{
	background-color:#A7DBDB; 
	height: 100px;
}   
#cl-3{
	background-color:#E0E4CC; 
	height: 100px;
}
#cl-4{
	background-color:#F38630;
	height: 100px; 
}
#cl-5{
	background-color:#FA6900;
	height: 100px; 
	margin-right: 35%;
}

.fdo{
	background-color: #2C3E50;
}
.fdo-1{
	background-color: #27AD60;
}
hr{ width: 20%; 
}
h1, h2, h3, p{
	color: white;
}
h4{
	font-size: 2em;
}

